<mat-toolbar color="primary">
  <h1>SECURITY 202302 SV52</h1>
  <H2>ZEPOL CODE</H2>
  <div class="mat-spacer"></div>

  <a mat-button [routerLink]="'/home'">HOME</a>

  <mat-divider [vertical]="true" [inset]="true">  </mat-divider>

  <a *ngIf="getCurrentUser()==null"
    mat-button [routerLink]="'/sign-in'">Sign-In
  </a>
  <a *ngIf="getCurrentUser()==null"
     mat-button [routerLink]="'/sign-up'">Sign-Up
  </a>

  <div *ngIf="getCurrentUser">
    <a mat-button>{{getCurrentUser()}}</a>
    <a mat-button (click)="signOut()">Sign-Out</a>
  </div>

</mat-toolbar>

<mat-toolbar>
  <div *ngIf="getCurrentToken">
    <a mat-button>{{getCurrentToken()}}</a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
